# Nom du fichier : .gitignore
# Contexte : Un fichier de type .gitignore qui permet d'ignorer les fichiers et dossiers à ne pas prendre en compte lors de la mise en ligne sur le serveur
# Nom de l'auteur : Github
# Autres étudiants : Jonathan Robinson,Andrzej Wisniowski

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
**/*.yarn/cache

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env

# Mac OS DS Store
**/*/.DS_Store